body {
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
}

header {
  width: 100%;
  /*height: 10px;*/
  /*background: blue;*/
  background-size: cover;
}

.content {
  width: 94px;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
  line-height: 80px;
  position: fixed;
  float: left;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  margin-left: 20px;
}

.logo img {
  width: 100px;
  height: 85px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 2;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav ul {
   background: #0064FF;
}

nav ul li {
      display: inline-block;
      padding: 10px 40px;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #0064FF;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

@media(max-width: 786px){

  .logo {
    position: fixed;
    top: 0;
    margin-top: 6px;
  }

  nav ul {
    max-height: 0px;
    background: #0064FF;
  }

  nav.blue ul {
    background: #0064FF;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }
 /* Media Navbar*/
}

/*================
      FOOTER
==================*/

.footer-distributed {
  background-color: #03a9f4;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 60px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer kolom kiri */
.footer-distributed .footer-left{
  width: 40%;
}

/* kalau ada logonya atau tulisan */
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Raleway', cursive;
  margin: 0;
}

.footer-distibuted h3 span {
  color:  #5383d3;
}

/* menu link di footer */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-tim-web {
  color: #37474f;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


/* footer di tengah/center */
.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  color: #37474f;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #263238;
  text-decoration: none;
}

/* Footer sebelah kanan */
.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .VisitPermib {
  line-height: 20px;
  color:  #ffffff;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-icons {
  margin-top: 20px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 4px;

  font-size: 30px;
  color: #ffffff;
  text-align: center;
  line-height: 40px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/*Mobil Version (Responsive)*/
@media (max-width: 786px){

    .footer-distributed{
      font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
      margin-left: 0;
    }
}


/*=======
  DOCUM
  =======*/

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section.body-docum {
  font-size: 100%;
  font-family: "Bitter", sans-serif;
  color: #f5f4ed;
  background-color: #e8e8e8;
}

div.foto-galeri ul.box li {
  background: #fff;
  padding: 10px;
}

img {
  width: 250px;
  height: 250px;
}

.head-docum {
  background: #454545;
  height: 100px;
  text-align: center;
}

.head-docum h1 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 1.6em;
  margin-bottom: .2em;
}

.head-docum p {
  font-size: 13px;
  font-size: 1rem;
  color: #707070;
}

@media only screen and (min-width: 1024px){
  .head-docum {
    height: 120px;
  }

  .head-docum h1 {
    font-size: 30px;
    font-size: 1.875rem;
    padding-top: 1.5em
  }

}

ul.box {
  position:relative;
  z-index: 1;
  overflow: hidden;
  list-style: none;
  margin: 0;
  margin: 20px;
  padding: 0;
  margin-left: 6%;
}

ul.box li {
  position: relative;
  float: left;
  margin: 0 30px 30px 0;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

ul.box li:before,
ul.box li:after {
  content: "";
  z-index: -1;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 70%;
  max-width: 300px;
  max-height: 100px;
  height: 55%;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -moz-transform: skew(-15deg) rotate(-6deg);
  -ms-transform: skew(-15deg) rotate(-6deg);
  -o-transform: skew(-15deg) rotate(-6deg);
  transform: skew(-15deg) rotate(-6deg); 
}

ul.box li:after{
  left: auto;
  right: 10px;
  -webkit-transform: skew(15deg) rotate(6deg);
  -moz-transform: skew(15deg) rotate(6deg);
  -ms-transform: skew(15deg) rotate(6deg);
  -o-transform: skew(15deg) rotate(6deg);
  transform: skew(15deg) rotate(6deg);
}

.boxSee {
  position: relative;
  margin: 5px;
  width: 250px;
  height: 250px;
  border: 0.6em solid #2b2c33;
}

.boxSee--half {
  height: 147.5px;
}

.boxSee:after,
.boxSee:before {
  z-index: 13;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background-color: #2b2c33;
  transition: all 0.7s ease;
}

.boxSee:before{
  z-index: 12;
  background-color: #2196f3; 
}

.boxSee.reverse--transition:after {
  left: 100%;
}

.boxSee.reverse--transition:before{
  left: 100%;
}

.boxSee .seePos {
  z-index: 15;
  position: absolute;
  left: 1em;
  bottom: 1em;
}

.boxSee .seePos--right{
  right: 1em;
  left: auto;
}

.boxSee .seePos--right .headSee {
  text-align: right;
}

.boxSee .seePos .headSee {
  margin: 0.6em 0;
}

.boxSee .seePos .headSee .titleSee {
  font-weight: bold;
  font-size: 1.8em;
  color: #2b2c33;
  transition: all 1s ease;
}

.boxSee .seePos .butSee {
  padding: 0.3em 0.7em;
  background-color: #2b2c33;
  border: 0;
  color: #fff;
  font-weight: bold;
  font-size: 1.3em;
  cursor: pointer;
  transition: all 0.7s ease;
}

.boxSee:hover:after{
  width: 100%;
  transition: all 0.8s ease;
  transition-delay: 0.2s; 
}

.boxSee:hover:before {
  width: 100%;
}

.boxSee:hover .seePos .titleSee {
  color: #fff;
  transition: all 0.5s ease;
}

.boxSee:hover .seePos .butSee {
  background: #fff;
  color: #2b2c33;
  transition: all 0.4s ease;
}

.boxSee:hover.reverse--transition:after{
  left: 0%;
}

.boxSee:hover.reverse--transition:before{
  left: 0%;
}
