html, body {
	margin: 0;
	padding:  0;
	width: 100%;
}

/*
list font 
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;


*/

body {
	font-family: "Raleway", sans-serif;
	font-weight: lighter;
	background: #456990;
 	 color: #fff;
  	overflow-x: hidden;
  	padding-bottom: 50px;
}

header {
	width: 100%;
	background-size: cover;
}

.content {
	width: 94px;
	margin: 4em auto;
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
}

.logo {
	line-height: 80px;
	position: fixed;
	float: left;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
	margin-left: 20px;
}

.logo img {
	width: 100px;
	height: 85px;
}

nav {
	position: fixed;
	width: 100%;
	line-height: 60px;
	z-index: 2;
}

nav ul {
	line-height: 60px;
	list-style: none;
	background: rgba(0, 0, 0, 0);
	overflow: hidden;
	color: #fff;
	padding: 0;
	text-align: right;
	margin: 0;
	padding-right: 40px;
	transition: 1s;
}

nav ul {
	background: #0064FF;
}

nav ul li {
	display: inline-block;
	padding: 10px 40px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}

.menu-icon {
	line-height: 60px;
	width: 100%;
	background: #0064FF;
	text-align: right;
	box-sizing: border-box;
	padding: 15px 24px;
	cursor: pointer;
	color: #fff;
	display: none;
}

@media(max-width: 786px) {

	.logo {
		position: fixed;
		top: 0;
		margin-top: 6px;
	}

	nav ul {
		max-height: 0px;
		background: #0064FF;
	}

	.showing {
		max-height: 34em;
	}

	nav ul li {
		box-sizing: border-box;
		width: 100%;
		padding: 24px;
		text-align: center;
	}

	.menu-icon {
		display: block;
	}
}

/*TIMELINE PERMIB*/

/*INTRO*/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.intro {
	background: #f45b69;
}

.cont-tl {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.cont-tl h1 {
	font-size: 2.5rem;
	text-align: center;
	padding-bottom: 100px;
}

/*TL*/

.timeline ul {
	background: #456990;
	padding: 50px 0;
}

.timeline ul li {
	list-style-type: none;
	position: relative;
	width: 6px;
	margin: 0 auto;
	padding-top: 50px;
	background: #fff; 
}

.timeline ul li::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: inherit;
}

.timeline ul li div {
	position: relative;
	bottom: 0;
	width: 400px;
	padding: 15px;
	background: #f45b69;
}

.timeline ul li div::before {
	content: '';
	position: absolute;
	bottom: 7px;
	width: 0;
	height: 0;
	border-style: solid;
}

.timeline ul li:nth-child(odd) div {
	left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
	left: -15px;
	border-width: 8px 16px 8px 0;
	border-color: transparent #F45B69 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F45B69;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* EFFECTS */

.timeline ul li::after {
	transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
	background: #f45b69;
}

.timeline ul li div {
	visibility: hidden;
	opacity: 0;
	transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
	transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
	transform: none;
	visibility: visible;
	opacity: 1;
}

/* GENERAL MEDIA QUERIES */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}

/* FOOTER */

.footer-distributed {
  background-color: #03a9f4;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 60px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer kolom kiri */
.footer-distributed .footer-left{
  width: 40%;
}

/* kalau ada logonya atau tulisan */
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Raleway', cursive;
  margin: 0;
}

.footer-distibuted h3 span {
  color:  #5383d3;
}

/* menu link di footer */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-tim-web {
  color: #37474f;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


/* footer di tengah/center */
.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  color: #37474f;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #263238;
  text-decoration: none;
}

/* Footer sebelah kanan */
.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .VisitPermib {
  line-height: 20px;
  color:  #ffffff;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-icons {
  margin-top: 20px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 4px;

  font-size: 30px;
  color: #ffffff;
  text-align: center;
  line-height: 40px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/*Mobil Version (Responsive)*/
@media (max-width: 786px){

    .footer-distributed{
      font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
      margin-left: 0;
    }
}